/* Estilo */

* {
    margin: 0px;
    padding: 0px;
}

.header{
    width: 100vw;
    background-color: black;
    padding: 1vh;
    border-bottom: 5px solid orange;
    position: fixed;
    top: 0;
    bottom: 5;
}

.logo{
    color: orange;
    text-align: center;
    font-size: 50px;
    margin-bottom: 1vh;
}

a {
    color: orange;
    text-decoration: none;
    font-size: 17px;
    margin-left: 3vw;
    margin-right: 8vw;
}

/* Margen para dejar el header en flex */

body {
    margin-top: 30vh;
}

/* Intento dejar la imagen a la izquierda y el titulo y texto a la derecha */

.image{
    display: inline;
}

/* Intento dejar la imagen a la izquierda y el titulo y texto a la derecha */
.title{
    display: inline;
}

.Image{
    width: 300px;
    height: 250px;
    margin-left: 37vw ;
    margin-top: 5vh;
    border: 5px solid orange;
    
}

.Title {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    /* Fuente 'Montserrat' */
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    text-decoration: underline solid orange;
}

p {
    color: black;
    font-weight: bold;
    font-size: 120%;
    /* Fuente 'Montserrat' */
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    margin-bottom: 30px;
    
}

.Trailer {
    width: 50vw;
    height: 30vh;
    margin-left: 25vw;
    border: 5px solid orange;
    margin-bottom: 5vw;

}

.Article {
    border-bottom: 1px solid grey;
}

.Footer {
    background-color: black;
    width: 100vw;
    height: 15vh;
    border-top: 5px solid orange;
}

.label {
    color: orange;
    font-size: 30px;
    text-align: center;
}

#p1 {
    font-size: 200%;
    text-align: center;
}

li {
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
    text-decoration: underline solid gray;
    margin-bottom: 5px;
}

.parrafo {
    font-family: 'Aboreto', cursive;
    font-size:  30px;
    text-align: center;
}

.album{
    width: 50vw;
    height: 50vh;
    margin-left: 25vw;
}

