/* Estilo */

* {
    margin: 0px;
    padding: 0px;
}

.header{
    width: 100vw;
    background-color: black;
    padding: 1vh;
    border-bottom: 5px solid orange;
    position: fixed;
    top: 0;
    bottom: 10;
}

.logo{
    color: orange;
    text-align: center;
    font-size: 50px;
    margin-bottom: 5vh;
}

a {
    color: orange;
    text-decoration: none;
    font-size: 20px;
    padding-left: 3vw;
    padding-right: 10vw;
}

body {
    margin-top: 200px;
}

.image{
    display: inline;
}

.title{
    display: inline;
}

.tlouImage{
    width: 300px;
    height: 300px;
    margin-left: 2rem ;
    border: 5px solid orange;
    
}

.tloutitle {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 300%;
    /* Fuente 'Montserrat' */
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    text-decoration: underline solid orange;
}

p {
    color: black;
    font-weight: bold;
    font-size: 150%;
    /* Fuente 'Montserrat' */
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    margin-bottom: 30px;
    position: relative;
}

.trailerTLOU {
    width: 50vw;
    height: 30vh;
    margin-left: 25vw;
    border: 5px solid orange;
}